<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">AuthApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['home']" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['pricing']" href="#">Pricing</a>
            </li>
            <li class="nav-item" *ngIf="auth0.isAuthenticated()">
                <a class="nav-link" [routerLink]="['protected']" href="#">Protected</a>
            </li>

        </ul>
        <span class="navbar-text">
     <button *ngIf="!auth0.isAuthenticated()" class="btn btn-outline-primary btn-sm" (click)="login()">Login</button>
     <button *ngIf="auth0.isAuthenticated()" class="btn btn-outline-primary btn-sm" (click)="logout()">Logout</button>

    </span>
    </div>
</nav>